/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-larris-dark-mode {
	border: 1px dotted #f00;
	display: flex;
	justify-content: center;
}

.block-child {
	background-color: #ffff;
	display: flex;
	align-items: center;
	gap: 5px;
}

/* Slider  */
.theme-switcher {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

/* Switch container */
.switch {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 24px;
}

/* Hide checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* Slider */
.slider {
	position: absolute;
	cursor: pointer;
	background-color: #ccc;
	border-radius: 24px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: 0.4s;
}

/* The slider knob */
.slider::before {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: 2px;
	bottom: 2px;
	background-color: #ffff;
	border-radius: 50%;
	transition: 0.4s;
}

/* Move knob when checked */
input:checked + .slider::before {
	transform: translateX(26px);
}

/* Optional: change background when checked */
input:checked + .slider {
	background-color: #666;
}
